*{
    /* outline: 1px solid red; */
}

.NavbarContainer{
    font-weight: 500;
    margin: 30px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.LinksContainer{
    display: flex;
    align-items: center;
    gap: 60px;
    color: #444;
    font-size: 18px;
}

.AccountButtons{
    display: flex;
    align-items: center;
    gap: 30px;
    color: #444;
    font-size: 18px;
}

.JoinUsButton{
    background-color: #b9a0ff;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 500;
    border: 2px solid black;
    -webkit-box-shadow: 6px 8px 0px 1px #000000; 
    box-shadow: 6px 8px 0px 1px #000000;
}